div {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: rgb(83, 155, 238);
    overflow: hidden;
    padding: 20px 10px 10px 10px;
}

.button {
    float: right;
    text-align: center;  
    background-color: white;
    color: rgb(30, 119, 235);
    width: 130px;
    height: 40px;
    text-decoration: none;
}


.title {
    float: left;
    color: white;
    text-decoration: none;
}